<div class="book">

  <div class="success">
    <% if flash[:notice] %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
  </div>

  <h1>Books</h1>

　<table>
　  <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
      <% @books.each do |book| %>
      <tr align="left">
        <th><%= book.title %></th>
        <th><%= book.body %></th>
        <th><%= link_to "Show", book_path(book.id) %></th>
        <th><%= link_to "Edit", edit_book_path(book.id) %></th>
        <th><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></th>
      </tr>
      <% end %>

  </table>


  <% if @book.errors.any? %>
    <%= @book.errors.count %>errors prohibited this book from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <il><%= message %></il>
      <% end %>
    </ul>
  <% end %>

    <h2>New book</h2>
    <%= form_with model: @book, url: '/books', method: :post do |f| %>

      <span class="form">Title</label></span>
      <%= f.text_field :title %>

      <span class="form">Body</label></span>
      <%= f.text_area :body %>

      <span class="form"><%= f.submit 'Create Book' %></span>

    <% end %>

</div>